*{
    margin: 0;
}
a {
    color: black !important;
    font-weight: bold;
}
header .logoriver{
    margin-top: 10px;
    font-size: 2rem;
    font-family:'Unbounded', cursive;
    text-align: center;
}

header span {
    color: rgb(153, 45, 45);
}

.botones {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.botones a :hover {
    color: rgb(89, 38, 136);
}

nav a:link {
    text-decoration: none!important;  
}

nav {
    font-family:'Unbounded', cursive;
    color: black;
    font-size: 25px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

nav a :hover {
  color: rgb(89, 38, 136); 
}

.carousel .carousel-item {
    height: 400px;
    /* width: 400px; */
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px;
      /* min-width: 400px; */
  }

  footer {
    padding: 2rem;
    font-family:'Unbounded', cursive;
    font-size: 20px;
  }

  .redes {
    display: flex;
    justify-content: space-around;
  }

  .redes a :hover {
    color: rgb(89, 38, 136);
  }
  
  .productos {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img {
    margin: auto;
    display: flex;
    width: 600px;
    height: 430px;
  }

  section img { 
    /* margin: auto; */
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }

  .titulo {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }